.myh1{
    /* font-family: 'Brush Script MT', cursive; */
    font-family: Georgia, serif;
    font-size: 50px;
    margin-left: 40px;
    margin-top: 20px;

}
.fab-container{
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
}

.myfab {
    background-color: aqua;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 40px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}